<!-- Toolbar -->
<header class="sticky">

        <a routerLink="/" class="logo">
                <span class="icon-home"></span>
                <span>{{ title }}</span>
        </a>

        <a routerLink="heroes" routerLinkActive="router-link-active" class="button">
                <span>Heroes</span>
        </a>
        <a routerLink="contacts" routerLinkActive="router-link-active" class="button">
                <span>Contacts</span>
        </a>
        <a routerLink="projects" routerLinkActive="router-link-active" class="button">
                <span>Projects</span>
        </a>
        <a routerLink="converter" class="button">
                <span> Converter</span>
        </a>
        <a routerLink="rates" class="button">
                <span> Rates</span>
        </a>
        <a routerLink="notifications" class="button">Notifications</a>
        <a routerLink="security/register" class="button">Register</a>
        <a routerLink="about" routerLinkActive="router-link-active" class="button">
                <img width="32" style="vertical-align: -0.5em" src="./assets/angularjs-icon-15.jpg" />
                <span>About us</span>
        </a>

</header>